
<h1 class="heading">Hi from Kalden </h1>
<p id="wow"> This is just a fun project, I've build to learn the basic of ruby and rails. Please feel free to test the application or read the source code</p>
<%= link_to "GitHub Source Code", 'https://github.com/XKalden/Blog_Rails' %>


<br>
<br>
<%= link_to "Back to Home", root_path %>