<h1>Hello from Home </h1>


<p> hellow </p>

<%= image_tag 'dog.jpg' %>

<%= link_to image_tag('dog.jpg'), 'https://www.youtube.com/' %>



<br>
<%= link_to "Blog", articles_path %>
<br>

<%= link_to "About", about_path %>