<div class="container">
    <footer class="footer">


    <small>
        Copyright 2018 &copy; <a href="http://tkalden.com" targer="blank">Kalden Media</a>
        by Tsering Kalden

    </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path  %></li>
        <ul>
    </nav>

    </footer>

</div>